<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donor Details</title>
    <link rel="stylesheet" href="/static/details.css" />
  </head>
  <body>
    <%-include('nav')-%>
    <main>
      <h2>Donor Details</h2>

      <div class="card-container">
        <% donors.forEach(donor => { %>
        <div class="card">
          <img
            src="https://via.placeholder.com/100"
            alt="<%= donor.name %>"
            class="profile-pic"
          />
          <div class="name"><%= donor.name %></div>
          <div class="details">Phone Number: <%= donor.number %></div>
          <div class="details">Email: <%= donor.email %></div>
          <div class="details">Date of Birth: <%= donor.dobString %></div>
        </div>
        <% }) %>
      </div>
    </main>
  </body>
</html>
