<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Details</title>
    <link rel="stylesheet" href="/static/details.css" />
  </head>
  <body>
    <%- include('nav') -%>
    <main>
      <h2>User Details</h2>

      <div class="card-container">
        <% users.forEach(user => { %>
        <div class="card">
          <img
            src="https://via.placeholder.com/100"
            alt="<%= user.name %>"
            class="profile-pic"
          />
          <div class="name"><%= user.name %></div>
          <div class="details">Phone Number: <%= user.number %></div>
          <div class="details">Email: <%= user.email %></div>
          <div class="details">Date of Birth: <%= user.dobString %></div>
        </div>
        <% }) %>
      </div>
    </main>
    <script src="/static/user_details.js"></script>
</body>
</html>
